<%= voter_rating.rating_html %>
<p>
  <strong>Pros:</strong>
  <%= voter_rating.pros %>
</p>
<p>
  <strong>Cons:</strong>
  <%= voter_rating.cons %>
</p>

<% if voter_rating.voter %>
  <strong>This rating is from a voter who was promised:</strong><br>
    <%= voter_rating.promised %>
  </p>
  <p>
    <strong>Felt the politician achieved:</strong><br>
    <%= voter_rating.achieved %>
  </p>
<% end %>

<%= voter_rating.user_display.html_safe %>