<% has_rating = false %>
<h2>Ratings</h2>
<% sorted_voters = @politician.voter_ratings.sort! { |a,b| b.total_votes <=> a.total_votes } %>
<% sorted_voters.each do |voter_rating| %> 
  <hr>
  <table>
    <td>
      <%= link_to(raw("<img src=/UpVote.png alt='useful'>"), politician_voter_rating_votes_path(@politician,voter_rating), :method => :up_vote) %>
      <center><strong><%= voter_rating.total_votes %></strong></center>
      <%= link_to(raw("<img src=/DownVote.png alt='not useful'>"), politician_voter_rating_votes_path(@politician,voter_rating), :method => :down_vote) %>
    </td>
    <td>
      <%= voter_rating.rating_html %>
      <p>
        <strong>Pros:</strong>
        <%= voter_rating.pros %>
      </p>
      <p>
        <strong>Cons:</strong>
        <%= voter_rating.cons %>
      </p>
      <% if voter_rating.voter %>
        <strong>This rating is from a voter who was promised:</strong><br>
          <%= voter_rating.promised %>
        </p>
        <p>
          <strong>Felt the politician achieved:</strong><br>
          <%= voter_rating.achieved %>
        </p>
      <% end %>
        <%= voter_rating.user_display.html_safe %>
  
      <% if user_signed_in? && current_user.id == voter_rating.user_id %>
        <% has_rating = true %>
        <table cellspacing=10><tr>
          <td>
            <%= link_to 'Delete Rating', [voter_rating.politician, voter_rating], 
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </td><td>
            <%= link_to 'Edit Rating', edit_politician_voter_rating_path(voter_rating.politician, voter_rating) %>
          </td><br>
        </table>
      <% end %>
    </td>
  </table>
<% end %>
<% if user_signed_in? && ! has_rating %>
  <script>document.getElementById('rating_link').style.display = 'inline'</script>
  <h2><a name="add_rating">Add a rating:</a></h2>
  <%= form_for([@politician, @politician.voter_ratings.build]) do |f| %>
    <p>
      <%= f.label :rating %><br>
      <%= f.select :rating, [['1 heart',1], ['2 hearts',2], ['3 hearts',3], ['4 hearts',4], ['5 hearts',5]]  %>
    </p>
    <p>
      <%= f.label :pros %> (What do you like about them?)<br>
      <%= f.text_area :pros %>
    </p>
    <p>
      <%= f.label :cons %> (How could they improve?)<br>
      <%= f.text_area :cons %>
    </p>
    <p>
      Are you a voter in this politicians district? (ie: can you or have you been able to vote for this person?)<br>
      Yes <%= f.radio_button :voter, true, checked:true, :onclick => "document.getElementById('voter_section').style.display = 'inline'" %>
      No <%= f.radio_button :voter, false , :onclick => "document.getElementById('voter_section').style.display = 'none'"%>
    </p>
    <div id='voter_section' style="display:none">
      <p>
        Have you voted for them?<br>
        Yes <%= f.radio_button :voted_for, true %>
        No <%= f.radio_button :voted_for, false, checked:true %>
      </p>
      <p>
        What have they promised?<br>
        <%= f.text_area :promised %>
      </p>
      <p>
        What have they achieved?<br>
        <%= f.text_area :achieved %>
      </p>
    </div>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>