<%= render "html_header" %>

<H1 align=center>
  The following rating was added to <a href=<%= politician_url(@politician) %>><%= @politician.first_name %> <%= @politician.last_name %>'s Page by <%= @current_user.name %></a>!
</H1>

<%= render "voter_ratings/show_rating_detail", :voter_rating => @voter_rating %>

<p>To see the rating <a href=<%= politician_url(@politician) %>>visit here</a>.</p>
 
<%= render "html_footer" %>