<%= render "shared/top" %>
<h1><img src=<%= @user.image %> align=center> Editing <%= @user.name %>'s Profile</h1>

<%= form_for :users, method: :patch do |f| %>
  <%= f.label :sponsor %>
  <%= f.check_box :sponsor, {checked: @user.sponsor} %>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render "shared/bottom" %>