<%= render "shared/top" %>
<h1><img src=<%= @user.image %> align=center> Editing <%= @user.name %>'s Profile</h1>

<%= form_for :users, method: :patch do |f| %>
  <% if current_user.is_admin %>
    <%= f.label :sponsor %>
    <%= f.check_box :sponsor, {checked: @user.sponsor} %>
  <% end %>
  
  <h2>Email:</h2>
  <%= f.label :unsubscribe_all %>
  <%= f.check_box :unsubscribe_all, {checked: @user.unsubscribe_all} %>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render "shared/bottom" %>