<%= form_for @politician do |f| %>
  
  <%# Error Logic: %>
  <% if @politician.errors.any? %>
  <div id="error_explanation">
    <font color=red>
    <h2><%= pluralize(@politician.errors.count, "error") %> prohibited
      this politician from being saved:</h2>
    <ul>
    <% @politician.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </font>
  </div>
  <% end %>
 
  <p class="field">
    <%= f.label :first_name %> <%= f.text_field :first_name %>
  </p>
 
  <p class="field">
    <%= f.label :last_name %> <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :country %><br>
    <%= f.select :country, OFFICES, {}, :onChange=>"switchCountry();" %>
  </p>
  
<script>
function switchCountry()
{
  var country = document.getElementById('politician_country').value;
	updateOffice(document.getElementById('politician_candidate_for'), country);
	updateOffice(document.getElementById('politician_current_office'), country);
	var select = document.getElementById('politician_state');
	removeOptions(select);
	if (country == "Canada") addCaProvinces(select);
	else addUSAStates(select);
}

function updateOffice(select, country)
{
  removeOptions(select);
  if (country == "Canada") addCaOffices(select);
	else addUSAOffices(select);
}

function addUSAOffices(select)
{
	<% OFFICES["United States of America"].each do |office| %>
	  var option = document.createElement("option");
	  option.text = '<%= office[0] %>';
	  option.value = '<%= office[0] %>';
	  select.add(option);
	<% end %>
}

function addCaOffices(select)
{
  <% OFFICES["Canada"].each do |office| %>
    var option = document.createElement("option");
    option.text = '<%= office[0] %>';
    option.value = '<%= office[0] %>';
    select.add(option);
  <% end %>
}

function addUSAStates(select)
{
  <% STATES.each do |state| %>
    var option = document.createElement("option");
    option.text = '<%= state[0] %>';
    option.value = '<%= state[0] %>';
    select.add(option);
  <% end %>
}

function addCaProvinces(select)
{
  <% PROVINCES.each do |province| %>
    var option = document.createElement("option");
    option.text = '<%= province[0] %>';
    select.add(option);
  <% end %>
}

function removeOptions(select)
{
	  for(var i=select.options.length-1; i>=0; i--)
	  {
	    select.remove(i);
	  }
}
</script>
  
  <p>
    <%= f.label :candidate_for %><br>
    <%= f.select :candidate_for, OFFICES["United States of America"].keys + OFFICES["Canada"].keys %>
  </p>
  
  <p>
    <%= f.label :current_office %><br>
    <%= f.select :current_office, OFFICES["United States of America"].keys + OFFICES["Canada"].keys %>
  </p>

  <p>
    <%= f.label :state %>/Province<br>
    <%= f.select :state,  STATES.keys + PROVINCES.keys %>
  </p>

  <p class="field">
    <%= f.label :county %> <%= f.text_field :county %>
  </p>
  
  <p class="field">
    <%= f.label :city %> <%= f.text_field :city %>
  </p>
  
  <h2>Links</h2>
  
  <p class="field">
    <b><%= f.label :wikipedia_link %>:</b><br>
    https://en.wikipedia.org/wiki/<%= f.text_field :wikipedia_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :campaign_link %>:</b><br>
    <%= f.text_field :campaign_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :open_secrets_link %>:</b><br>
    https://www.opensecrets.org/politicians/summary.php?cid=<%= f.text_field :open_secrets_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :official_link %>:</b><br>
    <%= f.text_field :official_link %>
  </p>
  
  <h2>Social Media</h2>
  
  <p class="field">
    <b><%= f.label :facebook %>:</b><br>
    https://www.facebook.com/<%= f.text_field :facebook %>
  </p>
  
  <p class="field">
    <b><%= f.label :google %>+ ID:</b><br>
    https://plus.google.com/<%= f.text_field :google %>/posts
  </p>
  
  <p class="field">
    <b><%= f.label :twitter %> account:</b><br>
    https://twitter.com/<%= f.text_field :twitter %>
  </p>
  
  
  <%= f.hidden_field :last_edit_user_id, :value => current_user.id %>
  
  <% if user_signed_in? %>    
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  
<% end %>
