<%= form_for @politician do |f| %>
  
  <%# Error Logic: %>
  <% if @politician.errors.any? %>
  <div id="error_explanation">
    <font color=red>
    <h2><%= pluralize(@politician.errors.count, "error") %> prohibited
      this politician from being saved:</h2>
    <ul>
    <% @politician.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </font>
  </div>
  <% end %>
 
  <p class="field">
    <%= f.label :first_name %> <%= f.text_field :first_name %>
  </p>
 
  <p class="field">
    <%= f.label :last_name %> <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :country %><br>
    <%= f.select :country, OFFICES %>
  </p>

  <p>
    <%= f.label :candidate_for %><br>
    <%= f.select :candidate_for, OFFICES[COUNTRY] %>
  </p>
  
  <p>
    <%= f.label :current_office %><br>
    <%= f.select :current_office, OFFICES[COUNTRY] %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%= f.select :state, [['Alabama','AL'], ['Alaska','AK'], ['Arizona','AZ'], ['Arkansas','AR'], ['California','CA'], ['Colorodo','CO'], ['Connecticut','CT'],  ['Delaware','DE'], ['Florida','FL'], ['Georgia','GA'], ['Hawaii','HI'],  ['Idaho','ID'], ['Illinois','IL'], ['Indiana','IN'], ['Iowa','IA'], ['Kansas','KS'], ['Kentucky','KY'], ['Louisiana','LA'], ['Maine','ME'], ['Maryland','MD'], ['Massachusetts','MA'],  ['Michigan','MI'], ['Minnesota','MN'], ['Mississippi','MS'], ['Missouri','MO'], ['Montana','MT'], ['Nebraska','NE'], ['Nevada','NV'], ['New Hampshire','NH'], ['New Jersey','NJ'], ['New Mexico','NM'], ['New York','NY'], ['North Carolina','NC'], ['North Dakota','ND'], ['Ohio','OH'], ['Oklahoma','OK'], ['Oregon','OR'], ['Pennsylvania','PA'], ['Rhode Island','RI'], ['South Carolina','SC'], ['South Dakota','SD'], ['Tennessee','TN'], ['Texas','TX'], ['Utah','UT'], ['Vermont','VT'], ['Virginia','VA'], ['Washingtom','WA'], ['West Virginia','WV'], ['Wisconsin','WI'], ['Wyoming','WY']] %>
  </p>

  <p class="field">
    <%= f.label :county %> <%= f.text_field :county %>
  </p>
  
  <p class="field">
    <%= f.label :city %> <%= f.text_field :city %>
  </p>
  
  <h2>Links</h2>
  
  <p class="field">
    <b><%= f.label :wikipedia_link %>:</b><br>
    https://en.wikipedia.org/wiki/<%= f.text_field :wikipedia_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :campaign_link %>:</b><br>
    <%= f.text_field :campaign_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :open_secrets_link %>:</b><br>
    https://www.opensecrets.org/politicians/summary.php?cid=<%= f.text_field :open_secrets_link %>
  </p>
  
  <p class="field">
    <b><%= f.label :official_link %>:</b><br>
    <%= f.text_field :official_link %>
  </p>
  
  <h2>Social Media</h2>
  
  <p class="field">
    <b><%= f.label :facebook %>:</b><br>
    https://www.facebook.com/<%= f.text_field :facebook %>
  </p>
  
  <p class="field">
    <b><%= f.label :google %>+ ID:</b><br>
    https://plus.google.com/<%= f.text_field :google %>/posts
  </p>
  
  <p class="field">
    <b><%= f.label :twitter %> account:</b><br>
    https://twitter.com/<%= f.text_field :twitter %>
  </p>
  
  
  <%= f.hidden_field :last_edit_user_id, :value => current_user.id %>
  
  <% if user_signed_in? %>    
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  
<% end %>
