<% if @politician.voter_ratings.any? %>
  <center>
    <%= @politician.rating_stats_html %>
  </center>
<% end %>

<table align=center><tr cellspacing=20><td>
<% if @politician.has_social_links? %>
  <table>
    <th colspan=3>
        <% if ! @politician.facebook.empty? %>
          <img class='photo' src=http://graph.facebook.com/<%= @politician.facebook %>/picture?type=square><br>
      <% end %>
      Social Links
    </th>
    <tr>
    <% if ! @politician.facebook.empty? %>
      <td>
        <a href=https://www.facebook.com/<%= @politician.facebook %>><img alt="facebook" src=http://VoteSquared.org/fb-logo.png></a>
      </td>
    <% end %>

    <% if ! @politician.google.empty? %>
      <td>
        <a href=https://plus.google.com/<%= @politician.google %>/posts><img alt="Google+" src=http://VoteSquared.org/g+-logo.png></a>
      </td>
    <% end %>
  
    <% if ! @politician.twitter.empty? %>
      <td>
        <a href=https://twitter.com/<%= @politician.twitter %>><img alt="Twitter" src=http://VoteSquared.org/twitter-logo.png></a>
      </td>
    <% end %>
    </tr>
  </table>
<% end %>

</td>

<!--  Second Table Column     -->

<td>
<% if ! defined?(@politician.wikipedia_link.empty?) %> 
<% elsif ! @politician.wikipedia_link.empty? %>
  <p>
    <center><strong><a href=https://en.wikipedia.org/wiki/<%= @politician.wikipedia_link %>>Wikipedia Page</a></strong></center>
  </p>
<% end %>

<% if ! defined?(@politician.campaign_link.empty?) %> 
<% elsif ! @politician.campaign_link.empty? %>
  <p>
    <center><strong>Campaign Page: <a class='url' href=<%= @politician.campaign_link %>><%= @politician.campaign_link %></a></strong></center>
  </p>
<% end %>
<% if ! defined?(@politician.open_secrets_link.empty?) %> 
<% elsif ! @politician.open_secrets_link.empty? %>
  <p>
    <center><strong><a href=https://www.opensecrets.org/politicians/summary.php?cid=<%= @politician.open_secrets_link %>>Open Secrets Page</a></strong></center>
  </p>
<% end %>

<% if ! defined?(@politician.wikipedia_link.empty?) %> 
<% elsif ! @politician.wikipedia_link.empty? %>
  <p>
    <strong>Official Page: <a href=<%= @politician.official_link %>><%= @politician.official_link %></a></strong>
  </p>
<% end %> 

<p>
  <strong>Country:</strong>
  <span class="country-name"><%= @politician.country %></span>
  
  <strong>State:</strong>
  <abbr class='region'><%= @politician.state %></abbr>
  
  <% if defined?(@politician.county.length) %>
    <% if @politician.county.length > 0 %>
      <strong>County:</strong>
      <%= @politician.county %>
    <% end %>
  <% end %>
  
  <% if defined?(@politician.city.length) %>
    <% if @politician.city.length > 0 %>
      <strong>City:</strong>
      <span class='locality'><%= @politician.city %></span>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Current Office:</strong>
  <span class='category'><%= @politician.current_office %></span>
</p>

<p>
  <strong>Candidate For:</strong>
  <%= @politician.candidate_for %>
</p>

<p>
  <table><td><strong>Last Edit by:</strong></td>
  <td><span itemprop="author" itemscope itemtype="http://schema.org/Person"><%= @politician.last_edit_user.html_safe %></span></td></table>
</p>
</td></tr></table>