<title><%= @politician.first_name %> <%= @politician.last_name %>'s Ratings</title>
  <H1 align=center class='item'>
    <span class='fn'><%= @politician.first_name %> <%= @politician.last_name %></span>'s Ratings
    <% if user_signed_in? && @politician.already_watching?(@politician, current_user.id) %> 
      <%= link_to(raw("<img src=/Unwatch.png alt='unwatch' align=right>"), politician_watches_path(@politician), :method => :create) %>
    <% else %>
      <%= link_to(raw("<img src=/Watch.png alt='watch' align=right>"), politician_watches_path(@politician), :method => :create) %>
    <% end %>
  </H1>

  <%= render "show_body_table" %>

<center>
  <table cellspacing=10><tr>
    <td>
	  <%= link_to 'Back', politicians_path %> 
	</td>
	  <% if user_signed_in? %>
	    <td id='rating_link' style="display:none">
	      <a href="#add_rating">Add Rating</a> 
	    </td>
	    <% if current_user.points > 2 %>
	      <td>
	        <%= link_to 'Edit', edit_politician_path(@politician) %> 
	      </td>
	    <% end %>
	    <% if defined?(current_user.points) && ! current_user.points.nil? %>  
	      <% if current_user.points > 20 %>
	        <td>
	          <%= link_to 'Delete', politician_path(@politician), method: :delete, data: { confirm: "Are you sure #{current_user.name}?  This cannot be undone and will cost you 10 points!  If this is a real politician please leave them!" } %>
	        </td>
	      <% end %>
	    <% end %>
	  <% else %>
	    <td>
	      <%= link_to('Login to Rate or Edit', user_omniauth_authorize_path(:facebook))  %>
	    </td>
	  <% end %>
  </tr></table>
</center>