<%= render "shared/top" %>
<title>Politician Listing</title>
<h1>Listing politicians</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>State</th>
    <th>Current Office</th>
    <th>Candidate For</th>
  </tr>
 
  <% @politicians.each do |politician| %>
    <tr>
      <td><%= politician.first_name %> <%= politician.last_name %></td>
      <td><%= politician.country %></td>
      <td><%= politician.state %></td>
      <td><%= politician.current_office %></td>
      <td><%= politician.candidate_for %></td>
      <td><%= link_to 'View', politician_path(politician) %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <p><center><%= link_to 'New politician', new_politician_path %></center>
<% end %>

<%= render "shared/bottom" %>