<%= render "shared/top" %>
<title>Politician Listing</title>
<h1>Listing politicians</h1>

  <input type="radio" id="send_poll" name="country" value="USA" />USA      
  <input type="radio" id="send_poll" name="country" value="Canada" />Canada<br/>

<script>
$(document).ready(function(){

    $("#USA").hide();
    $("#Canada").hide();

    $("input:radio[name='country']").change(function(){  

            if(this.value == 'USA' && this.checked){
              $("#USA").show();
              $("#Canada").hide();
            }
            else if(this.value == 'Canada' && this.checked){
                $("#Canada").show();
                $("#USA").hide();
            }

    });

});
</script>
 
<div id='USA' style='display:none'>
  <%= render 'country', :country => 'United States of America' %>
</div>
<div id='Canada' style='display:none'>
  <%= render 'country', :country => 'Canada' %>
</div>

<p><center>
<% if user_signed_in? %>
  <%= link_to 'New politician', new_politician_path %>
<% else %>
  <%= link_to('Login to Add a Politician', user_omniauth_authorize_path(:facebook))  %>
<% end %>
</center>

<%= render 'shared/bottom' %>