<p>
  <%= @politician.first_name %> <%= @politician.last_name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @politician.country %>
  
  <strong>State:</strong>
  <%= @politician.state %>
</p>

<p>
  <strong>Current Office:</strong>
  <%= @politician.current_office %>
</p>