<%= render "shared/top" %>

<% if ! defined?(@politician.first_name) %>
  <title>Nothing to see here!</title>
  <H1>This is not the politician you are looking for.  They must have performed a Jedi mind trick!</H1>
  <p>Try heading back to the <%= link_to 'list of politicians', politicians_path %>!</p>
<% else %>
  <span class="hreview-aggregate">
    <%= render "show_body" %>
  </span>
  <%= render "voter_ratings/show" %>
<% end %>
<p>

<center><%= link_to 'Back', politicians_path %></center>

<%= render "shared/bottom" %>