<%= render :partial => "shared/top" %>
<p>
  <%= @politician.first_name %> <%= @politician.last_name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @politician.country %>
  
  <strong>State:</strong>
  <%= @politician.state %>
</p>

<p>
  <strong>Current Office:</strong>
  <%= @politician.current_office %>
</p>

<%= link_to 'Back', politicians_path %> <%= link_to 'Edit', edit_politician_path(@politician) %> <%= link_to 'Delete', politician_path(@politician), method: :delete, data: { confirm: 'Are you sure?  This cannot be undone!  If this is a real politician please leave them.' } %>
<%= render :partial => "shared/bottom" %>