<%= render "shared/top" %>
<title><%= @politician.first_name %> <%= @politician.last_name %>'s Ratings</title>
<H1>
  <%= @politician.first_name %> <%= @politician.last_name %>
</H1>
 
<p>
  <strong>Country:</strong>
  <%= @politician.country %>
  
  <strong>State:</strong>
  <%= @politician.state %>
  
  <% if defined?(@politician.county.length) %>
    <% if @politician.county.length > 0 %>
      <strong>County:</strong>
      <%= @politician.county %>
    <% end %>
  <% end %>
  
  <% if defined?(@politician.city.length) %>
    <% if @politician.city.length > 0 %>
      <strong>City:</strong>
      <%= @politician.city %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Current Office:</strong>
  <%= @politician.current_office %>
</p>

<p>
  <strong>Candidate For:</strong>
  <%= @politician.candidate_for %>
</p>

<p>
  <strong>Last Edit by:</strong> 
  <%= @politician.last_edit_user.html_safe %>
</p>

<center>
  <table cellspacing=10><tr>
    <td>
	  <%= link_to 'Back', politicians_path %> 
	</td>
	  <% if user_signed_in? %>
	    <td>
	      <a href="#add_rating">Add Rating</a>  
	    </td>
	    <% if current_user.points > 2 %>
	      <td>
	        <%= link_to 'Edit', edit_politician_path(@politician) %> 
	      </td>
	    <% end %>
	    <% if defined?(current_user.points) && ! current_user.points.nil? %>  
	      <% if current_user.points > 20 %>
	        <td>
	          <%= link_to 'Delete', politician_path(@politician), method: :delete, data: { confirm: "Are you sure #{current_user.name}?  This cannot be undone and will cost you 10 points!  If this is a real politician please leave them!" } %>
	        </td>
	      <% end %>
	    <% end %>
	  <% else %>
	    <td>
	      <%= link_to('Login to Rate or Edit', user_omniauth_authorize_path(:facebook))  %>
	    </td>
	  <% end %>
  </tr></table>
</center>

<%= render "voter_ratings/show" %>

<p>

<center><%= link_to 'Back', politicians_path %></center>

<%= render "shared/bottom" %>