<%= render "shared/top" %>
<title><%= @politician.first_name %> <%= @politician.last_name %>'s Ratings</title>
<p>
  <%= @politician.first_name %> <%= @politician.last_name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @politician.country %>
  
  <strong>State:</strong>
  <%= @politician.state %>
</p>

<p>
  <strong>Current Office:</strong>
  <%= @politician.current_office %>
</p>

<p>
  <strong>Candidate For:</strong>
  <%= @politician.candidate_for %>
</p>

<p>
  <strong>Last Edit by:</strong>
  <%= @politician.last_edit_user.html_safe %>
</p>

<center>
  <%= link_to 'Back', politicians_path %> 
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_politician_path(@politician) %> <a href="#add_rating">Add Rating</a>
    <% if defined?(current_user.points) && ! current_user.points.nil? %>  
      <% if current_user.points > 20 %>
        <%= link_to 'Delete', politician_path(@politician), method: :delete, data: { confirm: "Are you sure #{current_user.name}?  This cannot be undone and will cost you 10 points!  If this is a real politician please leave them!" } %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to('Login to Rate or Edit', user_omniauth_authorize_path(:facebook))  %>
  <% end %>
</center>

<%= render "voter_ratings/show" %>

<p>

<center><%= link_to 'Back', politicians_path %></center>

<%= render "shared/bottom" %>